@import 'assets/css/variables.scss';

.block-contract {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #3c3a3a;

  background: #eeeeee;

  border: 0.5px solid var(--border-color);
  border-radius: 4px;

  padding: 8px 24px;

  @include media-down(sm) {
    flex-direction: column;
    justify-content: flex-start;
  }

  img {
    margin-left: 16px;
  }

  img:first-child {
    @include media-down(sm) {
      margin-left: 0;
    }
  }
}
